
@{
    ViewBag.Title = "Index";
}

<h2>Recuperar Senha</h2>
<h4>Insira seu email</h4>

<table>
	<tr>
		<td>
			E-mail:
		</td>
		<td>@Html.TextBox("Email")
			<br/>
		
		</td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" id="request-button" value="Enviar" /></td>
	</tr>
	<div id="result-area"></div>
</table>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
        $(document).ready(function ()
        {
        var data = {
	        grant_type: 'password'
        }
	       
        $.ajax({
			url: "http://localhost:53151/api/security/token",
		        type: 'post',
		        contentType: 'x-www-form-urlencoded',
		        data: data
	        })
	        .done(function (data)
	        {
	        	$("#request-button").on('click', function () {
	        		$("#result-area").html("");
	        		var email = $("#Email").val();
	        		var token = data.access_token;

	        		if (email === "" || email == null) {
	        			$("#result-area").append("<p style='color:red'>E-mail inválido </p>");
				        return false;
			        }

			        $.ajax({
					        url: "http://localhost:53151/api/recoverpassword?Email=" + email+"&token="+token+"",
							type: 'post',
					        contentType: 'application/json',
					        headers: {
						        "Authorization": "Bearer " + token
					        }
				        })
				        .done(function (data)
				        {
					        $("#result-area").append("<p style='color:red'>"+data+"</p>");
				        })
				        .error(function (error)
				        {
				        	$("#result-area").append("<p style='color:red'>" + error + "</p>");
				        });
			        return false;
		        });
	        })
	        .error(function ()
	        {
	        	$("#result-area").append("<p style='color:red'>Email inválidos</p>");
			});
        });
</script>

