
<h2>Perfil</h2>
<h4></h4>


<table>
    <tr>
        <td>
            <b>Nome:</b>
        </td>
        <td>
            <span id="Nome"> </span>
            <br />

        </td>
    </tr>
    <tr>
        <td>
            <b>Email:</b>
        </td>
        <td>
            <span id="Email"> </span>
            <br />
         

        </td>
    </tr>
    <tr>
        <input type="hidden" value="@ViewBag.id" name="id" id="id" />

    </tr>
 
   
    <div id="result-area"></div>
</table>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
	$(document).ready(function () {
		var data = {
			grant_type: 'password'
		}
		var id = $("#id").val();

		$.ajax({
			url: "http://localhost:53151/api/security/token",
			type: 'post',
			contentType: 'x-www-form-urlencoded',
			data: data
		})
			.done(function (data) {
				var token = data.access_token;
				$.ajax({
					url: "http://localhost:53151/api/profile?id=" + id + "",
					type: 'post',
					contentType: 'application/json',
					headers: {
						"Authorization": "Bearer " + token
					}

				})
					.done(function (result) {
						$("#Nome").html(result.nome);
						$("#Email").html(result.email);
					})
					.error(function (error) {
						$("#result-area").append("<p style='color:red'>Falha na requisição</p>");
					});
			});
	});
</script>

